@import "compass/css3/box-shadow";

.form_index{
  input#url_link, input#url_token {
    font-size: 17px;
    height: 40px;
    margin-right: 5px;
  }
  input#url_link {
    width: 645px;
  }
  input#url_token {
    width: 110px;
  }
  
  input.btn {
    height: 50px;
  }
}